<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72446168981-l948ifjo2epmjk0cc9b8ki5d23pht1cc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72446168981-l948ifjo2epmjk0cc9b8ki5d23pht1cc</string>
	<key>API_KEY</key>
	<string>AIzaSyCaoFcZfuV4EnVOxwzcfFZQQacFVOW6zxw</string>
	<key>GCM_SENDER_ID</key>
	<string>72446168981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>book-list-app-8335e</string>
	<key>STORAGE_BUCKET</key>
	<string>book-list-app-8335e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72446168981:ios:24e03892596466580f709c</string>
</dict>
</plist>